## Создание CSV файла для дообучения

In [2]:
import pandas as pd

In [3]:
import os
data = []
for f in os.walk("books"):
    for f_ in f[2]:
        p = f_
        s1 = f_.find('(')
        s2 = f_.find(')')
        if(s1 != -1 and s2 != -1):
            f_ = f_[:s1] + f_[s2+1:]
        data.append({'path':'books\\'+p, 'id': f_})

In [4]:
df = pd.DataFrame(data)
df.head()

               path          id
0    books\22.1.pdf    22.1.pdf
1   books\22.12.pdf   22.12.pdf
2  books\22.123.pdf  22.123.pdf
3  books\22.124.pdf  22.124.pdf
4  books\22.126.pdf  22.126.pdf

In [5]:
df.to_csv('books.csv', index=False)